*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

header{
    background-color: darksalmon;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

header ul{
    width: 45%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: black;
}

.container-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    background-color: white;
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h1, .card h3, .card p, .card img{
    margin-bottom: 10px;
    text-align: center;
}

.linea{
    display: flex;
}

input{
    width: 300px;
    height: 40px;
}

#check{
    width: 50px;
}